.form {
  padding: 30px 0;
  background-color: $color-primary;

  h3 {
    display: none;
  }

  &__container {
    @extend %container;
    display: grid;
    gap: $gap;
    @include md-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  :nth-of-type(1) {
    @include md-sm {
      grid-column-start: 1;
      grid-column-end: span 2;
    }
  }
  .form-item__input {
    display: block;
    font-size: 1.125rem;
    width: 100%;
    height: 60px;
    padding-right: 30px;
    padding-left: 30px;
    transition: background-color 0.5s, border-color 0.5s;
    letter-spacing: 0.15em;
    color: $color-light;
    border: 2px solid rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.05);
    overflow: visible;
    outline: none;

    &:hover,
    &:focus {
      border-color: rgba(255, 255, 255, 0.1);
      border-bottom-color: $color-light;
      background-color: rgba(255, 255, 255, 0.1);
    }
    &::placeholder {
      color: $color-light;
      opacity: 0.2;
    }
    &:hover::placeholder {
      color: $color-light;
      opacity: 0.4;
    }
  }
  .btn--primary {
    overflow: visible;
    width: 100%;
    color: $color-light;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
      border-color: $color-light;
      background-color: $color-accent;
    }
  }
}
